body{
    background-color:aquamarine ;
}

.data {
    background-color: antiquewhite;
    width: 290px;
    border: 2px solid black;
    height: 42px; 
    justify-content: center;
    display: flex;
    font-size: 26px;
    margin: auto;
}

.wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h3{
    color: brown;
    font-size: 20px;
}